<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Choose category</h1>
    <% if (categories.length > 0) { %> <% categories.forEach(category => {%>
    <div>
      <h3><%= category.title %></h3>
      <p><%= category.url %></p>
    </div>
    <%}) %> <% } %>
    <div>
      <a href="/categories/create">Create New Category</a>
    </div>
  </body>
</html>
